<?xml version="1.0"?>
<config>
    <modules>
        <ISM_News>
            <version>0.1.0</version>
        </ISM_News>
    </modules>
    <admin>
        <routers>
            <ism_news>
                <use>admin</use>
                <args>
                    <module>ISM_News</module>
                    <frontName>ism_news</frontName>
                </args>
            </ism_news>
        </routers>
    </admin>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>ISM_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news module="news">
                    <file>ism/news.xml</file>
                </news>
            </updates>
        </layout>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <news>
                        <class>news/observer</class>
                        <method>addTopmenuLink</method>
                    </news>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <news module="news">
                    <file>ism/news.xml</file>
                </news>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <news>
                <class>ISM_News_Model</class>
                <resourceModel>news_resource</resourceModel>
            </news>
            <news_resource>
                <class>ISM_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>ism_news</table>
                    </news>
                </entities>
            </news_resource>
        </models>
        <blocks>
            <news>
                <class>ISM_News_Block</class>
            </news>
        </blocks>
        <resources>
            <news_setup>
                <setup>
                    <module>ISM_News</module>
                    <class>ISM_News_Model_Resource_Setup</class>
                </setup>
            </news_setup>
        </resources>
        <helpers>
            <news>
                <class>ISM_News_Helper</class>
            </news>
        </helpers>
    </global>
</config>
