<?xml version="1.0"?>

<config>
    <modules>
        <ISM_DeliveryAt>
            <version>0.1.1</version>
        </ISM_DeliveryAt>
    </modules>
    <global>
        <models>
            <deliveryat>
                <class>ISM_DeliveryAt_Model</class>
            </deliveryat>
        </models>
        <resources>
            <deliveryat_setup>
                <setup>
                    <module>ISM_DeliveryAt</module>
                </setup>
            </deliveryat_setup>
        </resources>
        <blocks>
            <deliveryat>
                <class>ISM_DeliveryAt_Block</class>
            </deliveryat>
        </blocks>
        <helpers>
            <deliveryat>
                <class>ISM_DeliveryAt_Helper</class>
            </deliveryat>
        </helpers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <deliveryat>
                        <type>singleton</type>
                        <class>deliveryat/observer</class>
                        <method>onCoreBlockAbstractToHtmlAfter</method>
                    </deliveryat>
                </observers>
            </core_block_abstract_to_html_after>

            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <deliveryat>
                        <type>singleton</type>
                        <class>deliveryat/observer</class>
                        <method>onOnepageSaveShippingMethod</method>
                    </deliveryat>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>

        <fieldsets>
            <sales_convert_quote>
                <delivery_date>
                    <to_order>*</to_order>
                </delivery_date>
                <delivery_time>
                    <to_order>*</to_order>
                </delivery_time>
            </sales_convert_quote>
            <sales_convert_order>
                <delivery_date>
                    <to_quote>*</to_quote>
                </delivery_date>
                <delivery_time>
                    <to_quote>*</to_quote>
                </delivery_time>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <deliveryat>
                    <file>ism/deliveryat.xml</file>
                </deliveryat>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <deliveryat>
                    <file>ism/deliveryat.xml</file>
                </deliveryat>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <deliveryat>
            <general>
                <enabled>1</enabled>
            </general>
            <date_field>
                <format>yyyy-MM-dd</format>
            </date_field>
            <time_field>
                <enabled>1</enabled>
                <required>0</required>
            </time_field>
        </deliveryat>
    </default>
</config>
