<?xml version="1.0" encoding="UTF-8"?>

<config>
    <tabs>
        <deliveryat translate="label" module="deliveryat">
            <label>ISM-DeliveryAt</label>
            <sort_order>99999</sort_order>
        </deliveryat>
    </tabs>
    <sections>
        <deliveryat translate="label" modul="deliveryat">
            <label>Deliveryat Configurations</label>
            <tab>deliveryat</tab>
            <frontend_types>text</frontend_types>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <general>
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Is Enabled:</label>
                            <comment>Source model provider Magento's default Yes/No values</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                    </fields>
                </general>
                <date_field>
                    <label>Date Field</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1010</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <format translate="label">
                            <label>Date Format:</label>
                            <comment>Format for date to be displayed</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </format>
                    </fields>
                </date_field>
                <time_field>
                    <label>Time Field</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1020</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Is Enabled:</label>
                            <comment>Source model provider Magento's default Yes/No values</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                    </fields>
                </time_field>
            </groups>
        </deliveryat>

    </sections>
</config>