<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <ISM_Customer>
            <version>0.1.0</version>
        </ISM_Customer>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <form_login>ISM_Customer_Block_Form_Login</form_login>
                </rewrite>
            </customer>
        </blocks>
    </global>
</config>